.wrapper {
  position: fixed; /* 固定定位 */
  top: 0;
  left: 0;
  width: 100%; /* 宽度设置为 100% */
  height: 100%; /* 高度设置为 100% */
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.fill {
  /* animation-name: fillAction; */
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  width: 100%;
  height: 850px;
  fill: #b7f500;
}

@keyframes fillAction {
  0% {
    transform: translate(0, 800px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
